.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 75%;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 50%;
  }
}

.block {
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.colors {
  margin-bottom: 15px;
}

.text {
  color: #444444;
}

.text-area {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  background-color: #1f5dad;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 15px;
  padding: 10px 30px;
}

.btn:disabled {
  background-color: #c0c0c0;
  color: #ffffff;
}

.btn:last-child {
  margin: 0;
}

.red {
  background-color: #9c0b0b;
  color: #ffffff;
}

.yellow {
  background-color: #f0d800;
  color: #000000;
}

.green {
  background-color: #157c00;
  color: #ffffff;
}